include ../mixins/popUpItem

section.popUp
    h2 Види допомоги
    div.popUp__list
        +popUpItem({
          head: "Зробити",
          desc: "Натискайте на цю кнопку, якщо Ви хочете зробити, наприклд: ремонт у дитячому будинку, складну операцію, " +
          "побудувати дитячий майданчик або побудувати житло для переселенців і т.д.",
          desc2: "Ця кнопка для організацій, які можуть взяти на себе відповідальність за весь проект"
        })
        +popUpItem({
          head: "Фінансова допомога",
          desc: "Перераховуйте гроші тим, хто дійсно цього потребує"
        })
        +popUpItem({
          head: "Матеріальна допомога",
          desc: "Зберіть ліки, їжу, речі, іграшки та інше, для тих, кому це необхідно."
        })
        +popUpItem({
          head: "Волонтерство",
          desc: "Допоможіть ділом або професійними навичками. Підтримайте проекти своєю роботою."
        })
    a.popUpClose
        include ../svgIcons/close.svg