a.tab__item#make
    div.tab__icon
        include ../svgIcons/hand.svg
    h3 Зробити
a.tab__item.tab__item--active#financial
    div.tab__icon
        include ../svgIcons/purse.svg
    h3 Фінансова допомога
a.tab__item#material
    div.tab__icon
        include ../svgIcons/things.svg
    h3 Матеріальна допомога
a.tab__item#volunteering
    div.tab__icon
        include ../svgIcons/heart.svg
    h3 Волонтерство

