section(class="popUp toHelpForm")
    h2 Заповніть форму
    form.usersForm(action="" method="")
        div.usersForm--toggle
            button(class="usersForm__toggleButton usersForm__toggleButton--active" value="individual") Фіз. особа
            button(class="usersForm__toggleButton" value="entity") Юр. особа
        div.usersForm__info
        h2 Види допомоги
        p Ви можете змінити вид допомоги
        div.tab__list
            include ./tabItems
        div.popUp__content
            div.tab__switch
                div.switchElement.switchElement__financialActive
            include content/financial
        input(type="submit" value="Допомогти")
    a.popUpClose
        include ../svgIcons/close.svg