include ../modules/mixins/usersFormInput

div.usersForm__column
    div.usersForm__row
        +usersFromInput({
          labelName: "Ім`я",
          type: "text",
          name: "entity-name",
          id: "entityName"
        })
        +usersFromInput({
          labelName: "Прізвище",
          type: "text",
          name: "entity-lastname",
          id: "entityLastName"
        })
    +usersFromInput({
      labelName: "Назва компанії, організації",
      type: "text",
      name: "company-entityname",
      id: "entityName"
    })
    +usersFromInput({
      labelName: "Email-адрес",
      type: "text",
      name: "entity-email",
      id: "entityEmail"
    })
    +usersFromInput({
      labelName: "Номер телефону",
      type: "number",
      name: "entity-phone",
      id: "entityPhone"
    })
    +usersFromInput({
      labelName: "Юридична адреса",
      type: "text",
      name: "entity-address2",
      id: "entityAddress2"
    })
    div.usersForm__row
        +usersFromInput({
          labelName: "Найменування банку",
          type: "text",
          name: "entity-bank",
          id: "entityBank"
        })
        +usersFromInput({
          labelName: "МФО банку",
          type: "number",
          name: "entity-mfo",
          id: "entityMfo"
        })
div.usersForm__column
    +usersFromInput({
      labelName: "Країна",
      type: "text",
      name: "entity-country",
      id: "entityCountry"
    })
    div.usersForm__row
        +usersFromInput({
          labelName: "Місто",
          type: "text",
          name: "entity-city",
          id: "entityCity"
        })
        +usersFromInput({
          labelName: "Штат, район",
          type: "text",
          name: "entity-region",
          id: "entityRegion"
        })
    +usersFromInput({
      labelName: "Адреса",
      type: "text",
      name: "entity-address",
      id: "entityAddress"
    })
    div.usersForm__row
        +usersFromInput({
          labelName: "Поштовий індекс",
          type: "number",
          name: "entity-postCode",
          id: "entityPostCode"
        })
    div.usersForm__row
        +usersFromInput({
          labelName: "ЗКПО",
          type: "number",
          name: "entity-zkpoCode",
          id: "entityZkpoCode"
        })
        +usersFromInput({
          labelName: "Тип оподаткування",
          type: "text",
          name: "entity-tax",
          id: "entityTax"
        })
    div.usersForm__row
        +usersFromInput({
          labelName: "ІНН",
          type: "number",
          name: "entity-inn",
          id: "entityInn"
        })
        +usersFromInput({
          labelName: "Система оподаткування",
          type: "text",
          name: "entity-taxsystem",
          id: "entityTaxsystem"
        })
    div.usersForm__row
        +usersFromInput({
          labelName: "Телефон бухгалтерії",
          type: "number",
          name: "entity-counting",
          id: "entityCounting"
        })
        +usersFromInput({
          labelName: "Факс",
          type: "number",
          name: "entity-fax",
          id: "entityFax"
        })