picture
    img
div.projectCart__info
    span.projectCart__date
    h3
    p.projectCart__description
    p.projectCart__summ зібрано
        span.projectCart__totalSum 10 000
        span з
        span.projectCart__countSum 25 000
        span UAH
ul.projectCart__helpList
    li.projectCart__helpItem
        a(href="#" class="helpLink")
    li.projectCart__helpItem
        a(href="#" class="helpLink")
    li.projectCart__helpItem
        a(href="#" class="helpLink")
    li.projectCart__helpItem
            a(href="#" class="helpLink")