include ../modules/mixins/usersFormInput

div.usersForm__column
    div.usersForm__row
        +usersFromInput({
          labelName: "Ім`я",
          type: "text",
          name: "user-name",
          id: "userName"
        })
        +usersFromInput({
          labelName: "Прізвище",
          type: "text",
          name: "user-lastname",
          id: "userLastName"
        })
    +usersFromInput({
      labelName: "Назва компанії, організації",
      type: "text",
      name: "company-name",
      id: "companyName"
    })
    +usersFromInput({
      labelName: "Email-адрес",
      type: "text",
      name: "user-email",
      id: "userEmail"
    })
    +usersFromInput({
      labelName: "Номер телефону",
      type: "number",
      name: "user-phone",
      id: "userPhone"
    })
div.usersForm__column
    +usersFromInput({
      labelName: "Країна",
      type: "text",
      name: "user-country",
      id: "userCountry"
    })
    div.usersForm__row
        +usersFromInput({
          labelName: "Місто",
          type: "text",
          name: "user-city",
          id: "userCity"
        })
        +usersFromInput({
          labelName: "Штат, район",
          type: "text",
          name: "user-region",
          id: "userRegion"
        })
    +usersFromInput({
      labelName: "Адреса",
      type: "text",
      name: "user-address",
      id: "userAddress"
    })
    div.usersForm__row
        +usersFromInput({
          labelName: "Поштовий індекс",
          type: "number",
          name: "user-postCode",
          id: "userPostCode"
        })