include mixins/contentLink
include mixins/note

section#contentInfo
    div.contentRow
        h1  Добре Cерце
        +contentLink({
          name:'детальніше про проект',
          src: "/assets/images/icons/toOpen.svg",
          alt: "showMore"
        })
    div.contentRow
        +note({
          info:"Вже зараз Ви можете допомогти тим, хто дійсно потребує допомоги"
        })
    div.contentRow
        +contentLink({
          name: 'Як ви можете допомогти?',
          src: "/assets/images/icons/toOpen.svg",
          alt: "yourHelp"
        })
        a(href="#" data-value="form-show").customLink.customLink--quickly Допомогти вже зараз
    div.contentRow
        +note({
          info: "Якщо вам потрібна допомога, додайте проект"
        })
    div.contentRow
        +contentLink({
          name: 'Додати проект',
          src: "/assets/images/icons/share.svg",
          alt: "addProject"
        })
