include mixins/inputText

section.contacts
    span.contacts__item +38(077) 777 77 77
    span.contacts__item help@kindheart.ua
    form.contacts__form
        div.contacts__formRow Заповніть своє ім'я і контактні дані, і Вам нададуть консультацію по телефону
        div.contacts__formRow
            +inputText({
              placeholder: "Ім'я",
              id: "contactName",
              class: "Телефон"
            })
            +inputText({
              placeholder: "Телефон",
              id: "contactPhone",
              class: ""
            })
            button(type="submit" value="send") Відправити
