footer(role="contentinfo")
    div.social
        span Розповісти всім:
        div.social__links
            a(href="#" class="social__item")
                include ./svgIcons/twitter.svg
            a(href="#" class="social__item")
                include ./svgIcons/facebook.svg
            a(href="#" class="social__item")
                include ./svgIcons/vk.svg