include mixins/languageItem

div.languageList
    +language({
      active: true,
      value: "ua",
      text: "укр"
    })
    +language({
      value: "ru",
      text: "рус"
    })
    +language({
      value: "en",
      text: "en"
    })