include ./mixins/navItem

nav.menu
    +menuItem({
      href: "#",
      dataHref: "/includes/projects.html",
      name: "Проекти"
    })
    +menuItem({
      href: "#",
      dataHref: "/includes/arhive.html",
      name: "Архів"
    })
    +menuItem({
      href: "#",
      dataHref: "/includes/contacts.html",
      name: "Контакти"
    })
    +menuItem({
      accent: true,
      href: "#",
      dataHref: "/includes/yourHelp.html",
      name: "Термінова допомога"
    })
div.menu--mobile
