div.paymentMethod__list
    a.paymentMethod__item
        span.paymentMethod__head
    a.paymentMethod__item
        span.paymentMethod__head
    a.paymentMethod__item
        span.paymentMethod__head
    a.paymentMethod__item
        span.paymentMethod__head
    a.paymentMethod__item
        span.paymentMethod__head
    a.paymentMethod__item
        span.paymentMethod__head
