nav.projects__nav.projects__children--active
    li.projects__navItem
        a#war(href="#") Війна
    li.projects__navItem
        a#ecology(href="#") Екологія
    li.projects__navItem
        a(class="projects__navItem--active" href="#")#children Діти
    li.projects__navItem
        a#education(href="#") Освіта