include mixins/inputText

form(method="" action="#" class="search")
    button(value='hidden').search--show
        include ../modules/svgIcons/shape.svg
    div.search__inputWrapper.search__inputWrapper--hidden
        +inputText({
          id: "searchSite",
          class: "customInput customInput--search",
          placeholder: 'Пошук'
        })
        a.customInput--hidden
            include svgIcons/close.svg