@import "_variables";

.chat {
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right bottom, transparent 50%, #ffffff 50%);
  .sizeElement(80vw, 80vw);
  .centerAlign;
  z-index: 10;
  &::before {
    content: "";
    background: url(/assets/images/heart-bg.svg);
    width: 58%;
    height: 58%;
    margin-top: 6%;
    margin-left: 15%;
    background-size: cover;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background: #9D5E9B;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 2px 16px #9D5E9B;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat {
    .sizeElement(70vw, 500px);
    &::before {
      content: "";
      width: 425px;
      height: 285px;
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .chat {
    .sizeElement(70vw, 650px);
  }
}

@media screen and (min-width: 1920px) {
  .chat {
    .sizeElement(80vw, 1000px);
    &::before {
      content: "";
      width: 1040px;
      height: 700px;
      margin-top: 9%;
      margin-left: 20%;
    }
  }
}