.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  &__item {
    font-family: Gilroy, sans-serif;
    color: #ffffff;
    font-size: 64px;
    font-weight: bold;
    &:nth-of-type(1) {
      margin-bottom: 20px;
    }
  }
  &__form {
    margin-top: 100px;
  }
  &__formRow {
    font-family: Gilroy, sans-serif;
    color: #ffffff;
    font-size: 18px;
    &:nth-of-type(2) {
      margin-top: 25px;
    }
    input, button[type="submit"] {
      font-size: 14px;
      color: #ffffff;
      height: 40px;
      width: 200px;
      box-sizing: border-box;
      border-radius: 5px;
    }
    input {
      background-color: rgba(197, 213, 230, .2);
      border: none;
      padding: 0 10px;
      &::-webkit-input-placeholder {color: #ffffff;}
      &::-moz-placeholder {color: #ffffff;}
      &:-moz-placeholder {color: #ffffff;}
      &:-ms-input-placeholder {color: #ffffff;}
    }
    button[type="submit"] {
      background-color: rgba(0, 0, 0, .2);
    }
  }
}