#contentInfo {
  margin-left: 6.7%;
  z-index: 200;
  margin-top: 50px;
  padding-bottom: 100px;
}

.contentRow {
  display: flex;
  &:nth-of-type(1) {
    align-items: flex-end;
    margin-bottom: 50px;
  }
  &:nth-of-type(2) {
    margin-bottom: 20px;
    width: 500px;
  }
  &:nth-of-type(4) {
    margin: 30px 0 20px;
  }
}

.customLink__name {
  font-family: Geometria, sans-serif;
  font-size: 13px;
  margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 539px) {
  #contentInfo {
    margin: 0 5%;
    box-sizing: border-box;
  }
  .contentRow {
    &:nth-of-type(1) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        margin-bottom: 15px;
      }
    }
    &:nth-of-type(2) {
      width: 100%;
    }
    &:nth-of-type(3) {
      .customLink--show {
        width: 55%;
        justify-content: flex-start;
      }
    }
    &:nth-of-type(5) {
      .customLink--show {
        width: 55%;
        justify-content: flex-start;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  #contentInfo {
    margin-top: 85px;
  }
  .contentRow {
    display: flex;
    &:nth-of-type(1) {
      margin-bottom: 75px;
    }
    &:nth-of-type(2) {
      margin-bottom: 15px;
      width: 500px;
    }
    &:nth-of-type(4) {
      margin: 50px 0 15px;
    }
  }
  .customLink__name {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {

}

@media screen and (min-width: 1440px) {
  #contentInfo {
    margin-top: 150px;
  }

  .contentRow {
    &:nth-of-type(1) {
      margin-bottom: 130px;
    }
    &:nth-of-type(4) {
      margin: 100px 0 20px;
    }
  }
  .customLink__name {
    font-size: 18px;
  }
}

@media screen and (min-width: 1920px) {

}