@import "_variables";

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: @linkColor;
  font-size: 14px;
}

button {
  background-color: transparent;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.customInput {
  border: none;
  background-color: transparent;
  &--search {
    width: 100%;
    height: 60px;
    background-color: rgba(197, 213, 230, 1);
    border-radius: 10px;
    color: @placeholderColor;
    font-size: 18px;
    padding: 0 1%;
  }
}

.customNote {
  color: #e3e8fe;
  font-family: Gilroy, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 22px;
  &--info {
    &::before {
      display: block;
      content: "";
      width: 50px;
      height: 2px;
      background-color: #ffffff;
      margin-bottom: 20px;
    }
  }
}

.customLink {
  color: #e5f0ff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;
  z-index: 200;
  &--show {
    display: flex;
    align-items: center;
    transition: color 0.3s;
    &:hover {
      cursor: pointer;
      color: #ffffff;
    }
    img {
      margin-left: 5px;
    }
  }
  &--quickly {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 7px rgba(229, 54, 86, 0.2), 0 0 15px rgba(157, 94, 154, 0.2);
    border-radius: 10px;
    margin-left: 100px;
    padding: 0 20px;
    z-index: 220;
  }
}

@media screen and (min-width: 320px) and (max-width: 539px) {
  .customLink {
    &--show {
      width: 100%;
      justify-content: center;
    }
    &--quickly {
      margin-left: 10px;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      padding: 0 15px;
    }
  }
  .customNote {
    font-size: 10px;
    line-height: 14px;
    &--info {
      &::before {
        content: "";
        margin-bottom: 10px;
        width: 30px;
        height: 1px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .customNote {
    font-size: 14px;
    line-height: 16px;
  }
  .customLink {
    font-size: 15px;
    &--quickly {
      font-size: 16px;
      margin-left: 50px;
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {

}

@media screen and (min-width: 1440px) {
  .customNote {
    font-size: 18px;
  }
  .customLink {
    font-size: 18px;
  }
}

@media screen and (min-width: 1920px) {

}
