footer {
  position: absolute;
  left: 6.7%;
  bottom: 20px;
}

.social {
  display: flex;
  align-items: center;
  span {
    font-family: Geometria, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #C5D5E6;
    letter-spacing: 0.75px;
    margin-right: 10px;
  }
  &__links {
    display: flex;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 7px;
    svg {
      path {
        transition: fill 0.3s;
      }
    }
    &:hover {
      svg {
        path {
          fill: #E73453;
        }
      }
    }
  }
}

.contentInfo__contacts {
  flex-grow: 0;
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  .social {
    span {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  footer {
    bottom: 20px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {

}

@media screen and (min-width: 1440px) {
  footer {
    bottom: 50px;
  }
}