h1 {
  font-size: 62px;
  color: #ffffff;
  font-weight: 900;
  font-family: Geometria, sans-serif;
  margin-right: 10px;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 60px;
  color: #292C4B;
  font-weight: 900;
  font-family: Geometria, sans-serif;
}

h3 {
  color:  #363B5D;
  font-size: 20px;
  font-family: Geometria, sans-serif;
  font-weight: 900;
}

h4 {
  color: #939AA3;
  font-size: 14px;
}

h5 {
  font-size: 12px;
  font-family: Gilroy, sans-serif;
  color: #ffffff;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: 35px;
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 52px;
  }
}