.languageList {
  display: flex;
  flex-direction: column;
  &__item {
    text-transform: uppercase;
    color: #858ca8;
    transition: color 0.3s;
    font-weight: bold;
    &--active {
      color: #d4deea;
    }
    &:hover {
      color: #d4deea;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 539px) {
  .languageList {
    &__item {
      font-size: 13px;
    }
  }
}

@media screen and (min-width: 360px) {
  .languageList {
    display: flex;
    flex-direction: row;
  }
}