.logNav {
  &__item {
    color: #7e94bb;
    font-weight: bold;
    font-size: 13px;
    &:nth-of-type(2) {
      &::before {
        content: "/";
        margin: 0 5px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 539px) {

}

@media screen and (min-width: 540px) {
  .logNav {
    &__item {
      font-size: 14px;
    }
  }
}