@import "_variables";

.menu {
  display: flex;
}

.menuItem{
  .centerAlign;
  height: @headerHeight;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    .menuLink {
      background: rgba(0, 0, 0, .2);
    }
  }
}

.menuLink {
  .centerAlign;
  font-weight: bold;
  height: 30px;
  padding: 0 12px;
  font-size: 13px;
  background: transparent;
  border-radius: 5px;
  transition: background 0.3s;
  &:hover {
    background: rgba(0, 0, 0, .2);
  }
}

.menuLink--accent {
  background: linear-gradient(270deg, #6082D7 -81.69%, #E73453 100%);
}

.menuLink--active {
  background: rgba(0, 0, 0, .2);
}

@media screen and (min-width: 320px) and (max-width: 539px) {
  .menu {
    position: absolute;
    top: 50px;
    padding-right: 2%;
  }
  .menuLink {
    letter-spacing: 0.5px;
  }
}

@media screen and (min-width: 768px) {
  .menuLink {
    padding: 0 15px;
    font-size: 14px;
  }
}

