.projects {
  &__nav {
    display: flex;
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: margin-left 0.3s;
  }
  &__navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    max-width: 25%;
    flex-grow: 1;
    a {
      font-size: 64px;
      color: rgba(255, 255, 255, 0.15);
      font-family: Geometria, sans-serif;
      font-weight: 900;
      transition: color 0.3s;
      padding: 50px 0 75px;
      &:hover {
        cursor: pointer;
        color: #ffffff;
      }
      &.projects__navItem--active {
        color: #ffffff;
      }
    }
  }
}

.projects__war--active {
  margin-left: 37.5%;
}
.projects__ecology--active{
  margin-left: 12.5%;
}
.projects__children--active {
  margin-left: -12.5%;
}
.projects__education--active{
  margin-left: -37.5%;
}