@keyframes opacityItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projectList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.projectCart {
  display: flex;
  width: 100%;
  position: relative;
  background-color: transparent;
  transition: background-color 0.3s;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 555;
  }
  &:hover {
    cursor: pointer;
  }
  picture {
    overflow-y: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
  &__info {
    color: #ffffff;
    font-family: Geometria, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 25px 0 50px;
    border-bottom: 1px solid rgba(216, 216, 216, .5);
    flex-grow: 1;
    h3 {
      color:  #ffffff;
      font-size: 18px;
      font-family: Geometria, sans-serif;
      font-weight: 900;
    }
  }
  &__description {
    line-height: 22px;
    margin-top: 20px;
  }
  &__date,
  &__summ {
    color: #B4C4D8;
    font-size: 14px;
    position: absolute;
  }
  &__totalSum,
  &__countSum {
    margin: 0 3px;
  }
  &__date {
    position: absolute;
    top: 10px;
  }
  &__summ {
    position: absolute;
    bottom: 10px;
  }
}

.projectCart {
  &__helpList {
    display: none;
    flex-direction: column;
    justify-content: space-around;
  }
  &__helpItem {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #9C5D9A;
    border-radius: 5px;
    z-index: 999;
    transition: background-color 0.3s;
    &:hover {
      cursor: pointer;
      background-color: lighten(#9C5D9A, 5%);
    }
    a {
      display: flex;
      width: 100%;
      height: 100%;
    }
   &:nth-of-type(1) {
     a {
       background: url("../assets/images/popup/hand.svg") no-repeat center;
       background-size: contain;
       animation: opacityItems 0.75s;
     }
   }
   &:nth-of-type(2) {
     a {
       background: url("../assets/images/popup/purse.svg") no-repeat center;
       background-size: contain;
       animation: opacityItems 1.5s;
     }
   }
   &:nth-of-type(3) {
     a {
       background: url("../assets/images/popup/things.svg") no-repeat center;
       background-size: contain;
       animation: opacityItems 2.25s;
     }
   }
   &:nth-of-type(4) {
     a {
       background: url("../assets/images/popup/heart.svg") no-repeat center;
       background-size: contain;
       animation: opacityItems 3s;
     }
   }
  }
}

.projectCart--small {
  &:hover {
    background-color: lighten(#363B5D, 5%);
  }
  picture {
    flex-basis: 400px;
    min-width: 400px;
    height: 100px;
    max-height: 100px;
  }
  .projectCart {
    &__description {
      display: none;
    }
  }
}

.projectCart--big {
  &:hover {
    cursor: default;
  }
  picture {
    flex-basis: 400px;
    min-width: 400px;
    height: 200px;
    max-height: 200px;
    transition: height 0.3s;
  }
  .projectCart {
    &__description {
      display: block;
    }
    &__helpList {
      display: flex;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .projectCart {
    &__description {
      font-size: 12px;
      margin-top: 10px;
    }
    &__date,
    &__summ {
      font-size: 13px;
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {

}

@media screen and (min-width: 1919px) {

}