.search {
  &--show {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    svg {
      defs {
        path {
          fill: #91a7ce;
          transition: fill 0.3s;
        }
      }
    }
    &:hover {
      cursor: pointer;
      svg {
        defs {
          path {
            fill: #E73453;
          }
        }
      }
    }
  }
}

@keyframes toBottom {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 15px;
  }
}

@keyframes toTop {
  from {
    opacity: 1;
    top: 15px;
  }
  to {
    opacity: 0;
    top: -100px;
  }
}

.search__inputWrapper {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 0 2%;
  transition: opacity 0.3s, top 0.3s;
  svg {
    position: absolute;
    top: 0;
    right: 2.5%;
    width: 60px;
    height: 60px;
    &:hover {
      cursor: pointer;
      path {
        fill: darkred;
      }
    }
  }
}

.search__inputWrapper--visible {
  display: flex;
  top: 15px;
  opacity: 1;
  animation: toBottom 0.3s;
}

.search__inputWrapper--hidden {
  top: -100px;
  opacity: 0;
  animation: toTop 0.5s;
}