@linkColor: #C5D5E6;
@headerHeight: 65px;
@placeholderColor: #2E3F69;

.centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizeElement (@width, @height) {
  width: @width;
  height: @height;
}