@import "reset-css/reset";
@import "_menu";
@import "_search";
@import "_language";
@import "_logNav";
@import "_custom";
@import "_headers";
@import "_contentInfo";
@import "_chat";
@import "_footer";
@import "popup/_popUp";
@import "_projects";
@import "_projectsNav";
@import "_contacts";
@import "popup/_toHelpForm";
@import "popup/_userCard";
@import "popup/_paymentMethod";

@font-face {
  src: url("/assets/fonts/Geometria.woff");
  font-family: Geometria, sans-serif;
}

@font-face {
  src: url("/assets/fonts/Gilroylight.woff");
  font-family: Gilroy, sans-serif;
}

* {
  font-family: Geometria, sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

a {
  font-family: Geometria, sans-serif;
}

body {
  display: flex;
  background: #363B5D;
  flex-direction: column;
  min-height: -moz-max-content;
  min-height: -webkit-max-content;
  min-height: -o-max-content;
  position: relative;
}

.body--blur {
  header, main, footer {
    filter: blur(15px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');
    transition: 1s filter linear;
  }
}

.body--urgently {
  background: linear-gradient(30.45deg, #E53656 21.87%, #6082D8 124.73%);
  .projectList {
    .projectCart--small {
      &:hover {
        background-color: #E53656;
      }
    }
  }
}

main {
  flex-grow: 1;
  position: relative;
  min-height: -moz-max-content;
  min-height: -webkit-max-content;
  min-height: -o-max-content;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: @headerHeight;
  min-height: @headerHeight;
  padding: 0 2%;
  flex-grow: 0;
  z-index: 333;
}

.header--mobile {
  .languageList {
    display: none;
  }
  .menu {
    display: none;
  }
  .search {
    display: none;
  }
  .logNav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  
}

@media screen and (min-width: 1440px) {

}
