.popUp__contentColumn {
  .paymentMethod {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px 0;
    &__item {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 85px;
      background: #C5D5E6;
      border-radius: 10px;
      padding: 5px 0;
      span {
        font-size: 18px;
        font-family: Gilroy, sans-serif;
        color: #ffffff;
      }
      h5 {
        margin-top: 17px
      }
    }
  }
}