@keyframes popupShow {
  from {
    opacity: 0;
    top: 170%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

.popUp {
  background-color: #ffffff;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: -40%;
  margin-top: -40vh;
  height: 80vh;
  z-index: 555;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 100px 3%;
  opacity: 0;
  transition: opasity 0.3s;
  &__list {
    display: flex;
    margin-top: 50px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;
    margin-right: 2%;
    box-sizing: border-box;
    padding-right: 5%;
    h3 {
      display: flex;
      align-items: center;
      &::before {
        border: 2px solid #C5D5E6;
        box-sizing: border-box;
        border-radius: 15px;
        width: 80px;
        height: 80px;
        min-width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
      }
    }
    &:first-of-type {
      h3 {
        &::before {
          content: url("../assets/images/popup/hand.svg");
        }
      }
    }
    &:nth-of-type(2) {
      h3 {
        &::before {
          content: url("../assets/images/popup/purse.svg");
        }
      }
    }
    &:nth-of-type(3) {
      h3 {
        &::before {
          content: url("../assets/images/popup/things.svg");
        }
      }
    }
    &:last-of-type {
      margin-right: 0;
      h3 {
        &::before {
          content: url("../assets/images/popup/heart.svg");
        }
      }
    }
  }
  &__itemInfo {
    font-size: 12px;
    line-height: 16px;
    font-family: Gilroy, sans-serif;
    color: #515572;
    margin-left: 100px;
    letter-spacing: 0.75px;
  }
  &Close {
    position: absolute;
    top: -64px;
    right: 0;
    svg {
      path {
        fill: #C5D5E6;
        transition: fill 0.3s;
      }
    }
    &:hover {
      cursor: pointer;
      svg {
        path {
          fill: #E73453;
        }
      }
    }
  }
}

.popUp--show {
  display: flex;
  opacity: 1;
  animation: popupShow 0.5s;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .popUp {
    padding: 50px 3%;
    width: 90%;
    margin-left: -45%;
    &__item {
      padding-right: 0;
      h3 {
        font-size: 18px;
        &::before {
          width: 60px;
          height: 60px;
          min-width: 60px;
          margin-right: 10px;
        }
      }
    }
    &__itemInfo {
      margin-left: 70px;

      h2 {
      font-size: 55px}
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .popUp {
    width: 90%;
    height: 75vh;
    margin-left: -45%;
    margin-top: -37.5vh;
    &__item {
      padding-right: 3%;
    }
    &__itemInfo {

    }
  }
}

@media screen and (min-width: 1920px) {
  .popUp {
    padding: 100px 5%;
    &__item {
      h3 {
        font-size: 25px;
      }
    }
    &__itemInfo {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.75px;
    }
  }
}
