.toHelpForm {
  height: auto;
  min-height: 80vh;
  font-family: Geometria, sans-serif;
  padding: 50px 5%;
  input[type="submit"] {
    width: 300px;
    height: 60px;
    margin-top: 50px;
    background: linear-gradient(11.95deg, #E53656 21.87%, #6082D8 124.73%);
    box-shadow: 0 0 15px rgba(229, 54, 86, 0.4);
    border-radius: 10px;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    &:hover {
      cursor: pointer;
    }
  }
}

.usersForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 300px;
  .customInput {
    padding: 0 10px;
    color: #2E3F69;
  }
  p {
    font-family: Gilroy, sans-serif;
    margin-top: 30px;
    color: #292C4B;
  }
  &--toggle {
    width: 230px;
    margin: 25px 0;
    border: 2px solid #363B5D;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    button {
      display: inline-block;
      flex-basis: 50%;
    }
  }
  &__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.usersForm {
  &__toggleButton {
    height: 40px;
    font-size: 14px;
    font-family: Geometria, sans-serif;
    color: #292C4B;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s;
    &--active {
      background-color: #363B5D;
      color: #ffffff;
    }
    &:hover {
      background-color: #363B5D;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.usersForm {
  &__column {
    width: 40%;
    label {
      display: flex;
      flex-direction: column;
      font-family: Geometria, sans-serif;
      font-size: 14px;
      color: #939AA3;
    }
    .customInput {
      display: flex;
      height: 40px;
      background-color: rgba(197, 213, 230, .2);
      border-radius: 5px;
      margin-top: 5px;
      margin-bottom: 25px;
    }
  }
  &__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    label {
      width: 47%;
    }
  }
}

.usersForm {
  .tab {
    &__list {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 3%;
      width: 100%;
      margin: 30px 0;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      h3 {
        color: #C5D5E6;
        transition: color 0.3s;
        margin-left: 10px;
        width: 35%;
        &::before {
          background-color: #ffffff;
          border: 2px solid #C5D5E6;
          transition: background-color 0.3s, border 0.3s;
        }
        &:nth-of-type(2) {
          margin-top: 25px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      box-sizing: border-box;
      border: 2px solid #C5D5E6;
      border-radius: 15px;
      background-color: transparent;
      transition: background-color 0.3s;
    }
    &__switch {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      padding: 0 3%;
      height: 15px;
      top: -16px;
      left: 0;
      .switchElement{
        width: 25%;
        height: 15px;
        display: inline-flex;
        justify-content: center;
        position: relative;
        transition: margin-left 0.3s;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          border: 15px solid transparent;
          border-bottom: 15px solid #C5D5E6;
          left: 115px;
        }
        &::after {
          content: "";
          position: absolute;
          border: 15px solid transparent;
          border-bottom: 15px solid white;
          bottom: -2px;
          left: 115px;
        }
        &__makeActive {
          margin-left: 0;
        }
        &__financialActive {
          margin-left: 25%;
        }
        &__materialActive {
          margin-left: 50%;
        }
        &__volunteeringActive {
          margin-left: 75%;
        }
      }
    }
  }
}

.popUp {
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #C5D5E6;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
  }
  &__contentColumn {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
}

#userCard {
  width: 30%;
}

.usersForm {
  .tab__item--active,
  .tab__item:hover {
    h3 {
      color: #363B5D;
    }
    .tab__icon {
      background-color: #9C5D9A;
      border-color: transparent;
      svg {
        defs {
          path {
            fill: white;
          }
        }
      }
    }
  }
}

