.userCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 190px;
  margin-top: 20px;
  background-color: #C5D5E6;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  &__input {
    display: flex;
    flex-direction: column;
    label {
      color: #ffffff;
      font-size: 14px;
      font-family: Geometria, sans-serif;
      margin-bottom: 5px;
    }
    input {
      height: 45px;
      border: none;
      border-radius: 5px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    .userCard__input {
      width: 45%;
    }
  }
}