mixin popUpItem(params)
    div(class=(params.active) ? "popUp__item popUp__item--active": "popUp__item")
        h3=params.head
        if(params.desc)
            span.popUp__itemInfo=params.desc
        if(params.desc2)
            span.popUp__itemInfo=params.desc2