doctype
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="проекти допомоги по різним напрямкам")
        meta(name="theme-color" content="#00bff3")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='dobre-serce'
        link(href="styles/index.css" rel="stylesheet")
    body
        header
            include modules/logo
            include modules/languageList
            include modules/menu
            include modules/search
            include modules/logNav
        main
            include modules/contentInfo
            include modules/chat
        include modules/footer
        include modules/popup/popUp
        include modules/popup/toHelpForm
        script(type="text/javascript" src="js/index.js")

