div.popUp__contentColumn
    h4 Спосіб оплати
    div.paymentMethod
        div.paymentMethod__item
            div.paymentMethod__row
                include ../../svgIcons/mastercard.svg
                include ../../svgIcons/visa-pay-logo.svg
            h5 Картка Visa/MasterCard
        div.paymentMethod__item
            span Приват24
            h5 Приват24
        div.paymentMethod__item
            include ../../svgIcons/the-tube-terminal.svg
            h5 Термінали України
        div.paymentMethod__item
            include ../../svgIcons/webmoney-paying-logo.svg
            h5 Web Money
        div.paymentMethod__item
            include ../../svgIcons/paypal-logo.svg
            h5 PayPal
        div.paymentMethod__item
            include ../../svgIcons/bankTransfer.svg
            h5 Банківський переказ
div.popUp__contentColumn#userCard
    h4 Введіть наступні дані
    div.userCard
        div.userCard__input
            label(for="cardNumber") Номер карти
            input(type="number" value="usercard-number" id="cardNumber")
        div.userCard__row
            div.userCard__input
                label(for="validity") Термін дії
                input(type="number" value="validity" id="validity")
            div.userCard__input
                label(for="CVV") CVC/CVV
                input(type="number" value="CVV" id="CVV")
